.btn-articles-sponsored-content-left img,
.btn-articles-related-content-left img {
    height: 100%;
    top: 0;
    position: absolute;
    width: 100%;
    object-fit: cover;
}
.btn-articles-sponsored-content .btn-articles-sponsored-content-left, .btn-articles-sponsored-content .btn-articles-sponsored-content-right,
.btn-articles-related-content .btn-articles-related-content-left, .btn-articles-related-content .btn-articles-related-content-right  {
    flex: 1;
}
.btn-articles-sponsored-content,
.btn-articles-related-content {
    display: flex;
    width: 100%;
}
.btn-articles-sponsored-content-left,
.btn-articles-related-content-left {
    position: relative;
    max-width: 300px;
}
.btn-articles-sponsored-content-left,
.btn-articles-related-content-left {
    margin-right: 30px;
}

.btn-articles-sponsored-content-right h3,
.btn-articles-related-content-right h3 {
    color: #009ADA;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 16px;
}
.btn-articles-sponsored-content-right h2,
.btn-articles-related-content-right h2 {
    color: #1B1D36;
    font-size: 43.5px;
}
.btn-articles-sponsored-content-right h2,
.btn-articles-related-content-right h2 {
    color: #1B1D36;
    font-size: 38.5px;
    line-height: 1.1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-articles-sponsored-content-right p,
.btn-articles-related-content-right p {
    color: #1B1D36;
    font-size: 13px;
    margin-bottom: 5px;
}
.btn-articles-sponsored-content-right a,
.btn-articles-related-content-right a{
  font-size:12px;
  color:#009ADA;
}
.btn-articles-sponsored-content-right a:before,
.btn-articles-related-content-right a:before {
    content: "";
    width: 48px;
    height: 1px;
    background: #009ADA;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.btn-articles-related-content-left {
    max-width: 50%;
}
.btn-articles-related-content-right h2 {
    font-size: 50px;
}
.btn-articles-related-content-right h3 {
    color: #AEB4BA;
    font-size: 13px;
}
.btn-articles-related-content-right p {
    margin-top: 20px;
    margin-bottom: 20px;
}
img.btn-articles-mobile{
	display:none;
}
@media screen and (max-width:767px){
	.btn-articles-sponsored-content-left, .btn-articles-related-content-left {
		margin-right: 0;
	}
	.btn-articles-sponsored-content-left img, .btn-articles-related-content-left img{
		position:relative;
	}
	.btn-articles-related-content-left {
		display: none;
	}
	img.btn-articles-mobile {
		margin-top: 10px;
		display:block;
	}
	.btn-articles-sponsored-content, .btn-articles-related-content {
		display: block;
		width: 100%;
	}
	.btn-articles-sponsored-content-left, .btn-articles-related-content-left {
		position: relative;
		max-width: 100%;
	}
	.btn-articles-sponsored-content-right {
		padding-top: 20px !important;
	}
}
